body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 200px;
}

#menu {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-bottom: 6px solid #009900d2;
}


#menu .logo {
  position: absolute;
  left: 200px; 
}

#menu .logo img {
  height: 90px;
  width: auto;
  transition: transform 0.3s;
  background-color: #ffffff;
  border-radius: 4px;
}

#menu .logo img:hover {
  transform: scale(1.05);
}


#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  justify-content: center; 
  align-items: center;
}

#menu li {
  display: inline-block;
}

#menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
  font-weight: bold;
  transition: color 0.3s;
}

#menu a:hover {
  color: #ffd700;
}

.perfil-container {
  max-width: 800px;
  margin: auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  gap: 30px;
  padding: 30px;
  align-items: center;
}

.foto img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid rgb(0,153,68);
  object-fit: cover;
}

.estado {
  display: inline-block;
  padding: 6px 12px;
  background-color: rgb(0,153,68);
  color: white;
  border-radius: 8px;
  font-size: 13px;
  margin-top: 10px;
}

.info strong {
  color: rgb(0,153,68);
}
