.contenedor-3 {
  display: flex;
  width: 100%;
  height: 100vh;
}

.menu-lateral {
  flex: 1;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 4px solid #009944;
}

.btn-menu {
  padding: 15px 25px;
  background-color: #009944;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-menu:hover {
  opacity: .85;
}