#general {
    background-image: url("https://tecnoplanet.mx/media/catalog/product/cache/8cd5a230797067cb5ac02bf70ef67749/1/6/1655359477.jpeg");
   
}

#Encabezado{
    margin-top: 80;
    margin-right: 80;
    margin-left: 80;

}

#menu{
     margin-bottom: 80;
}

