@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 200px;
}

/* ===== NAVBAR ===== */
#menu {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-bottom: 6px solid #009900d2;
}

#menu .logo {
  position: absolute;
  left: 200px; 
}

#menu .logo img {
  height: 90px;
  width: auto;
  transition: transform 0.3s;
  background-color: #ffffff;
  border-radius: 4px;
}

#menu .logo img:hover {
  transform: scale(1.05);
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  justify-content: center; 
  align-items: center;
}

#menu li {
  display: inline-block;
}

#menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
  font-weight: bold;
  transition: color 0.3s;
}

#menu a:hover {
  color: #ffd700;
}

/* ===== CONTENIDO ===== */
.contenido {
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 900px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: rgb(0,153,68);
  color: white;
  padding: 10px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.botones {
  margin-top: 20px;
  text-align: right;
}

/* ===== BOTONES ===== */
button {
  background-color: rgb(0,153,68);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  margin: 2px;
}

button:hover {
  background-color: #00b377;
}

.eliminar {
  background-color: #c0392b;
}

.eliminar:hover {
  background-color: #e74c3c;
}

.editar {
  background-color: #0077cc;
}

.editar:hover {
  background-color: #0099ff;
}