body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 200px;
}

#menu {
  background-color: rgb(0,153,68);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

#menu ul li a {
  color: white;
  text-decoration: none;
}

.contenido {
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 900px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: rgb(0,153,68);
  color: white;
  padding: 10px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
