<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Impulso a la creatividad y visión empresarial</title>
  <link rel="stylesheet" href="../css/a3.css" />
</head>
<body>
  <header class="site-header">
    <nav id="menu">
     <a href="../index.html" class="logo">
        <img src="../images/UNAM.png" alt="Logo UNAM">
      </a>
      <ul>
        <li><a href="../index.html">INICIO</a></li>
      <li><a href="academico.html">ACADÉMICO</a></li>
      <li><a href="cultura.html">CULTURA</a></li>
      <li><a href="deportes.html">DEPORTES</a></li>
      </ul>
    </nav>
    <h2 id="Inicio" class="headline"><em>Dan impulso a la creatividad, innovación y visión empresarial</em></h2>
  </header>

  <main class="container">
    <p class="intro"><i>Empecemos a despertar el interés en los estudiantes para que viertan sus ideas y las concreten: David Quintanar</i></p>

    <figure class="hero">
      <a href="https://www.gaceta.unam.mx/13-anos-de-trayectoria-bioetica-programa-universitario-de-bioetica/" target="_blank" rel="noopener noreferrer">
        <img src="../images/academico/impulso.jpg" alt="InnovaFESt UNAM" class="hero-img" />
      </a>
    </figure>

    <article class="article">
      <p>
        Para impulsar la actividad emprendedora entre la comunidad universitaria, en particular de las cinco facultades de Estudios Superiores (FES), se realiza la Tercera Edición del InnovaFESt de Emprendimiento, con el apoyo de la Coordinación de Vinculación y Transferencia Tecnológica (CVTT).
      </p>

      <p>
        Del 22 al 26 de septiembre, la comunidad estudiantil y académica de cada una de las cinco unidades multidisciplinarias –Acatlán, Aragón, Cuautitlán, Iztacala y Zaragoza– descubrirá las claves del éxito emprendedor con la participación de expertos y empresarios, así como los programas de apoyo para el Ecosistema Emprendedor de Ciudad de México y municipios cercanos a las unidades multidisciplinarias.
      </p>

      <p>
        En la ceremonia inaugural del Tercer InnovaFESt, en la FES Cuautitlán, sede anfitriona de estas acciones encaminadas a la difusión de la cultura emprendedora entre la comunidad universitaria, su director, David Quintanar Guerrero, recalcó que esta feria tiene como propósito impulsar la creatividad, la innovación y la visión empresarial de la comunidad universitaria, en particular de las cinco multidisciplinarias.
      </p>

      <p>
        “Es como generar unidades de emprendimiento a las que pueden acercarse y si tienen alguna idea que pudiera ser relevante y debiera tener protección intelectual, tratar de defenderla y generar algún vínculo que pudiera ser una patente, o bien una idea original para generar una empresa y empezar una relación entre las diferentes disciplinas, porque por lo general es un proceso multidisciplinario. Empecemos a despertar el interés en los estudiantes para que viertan sus ideas y las concreten en una innovación que realmente pudiera ser aplicativa”.
      </p>

      <p>
        Eduardo Urzúa Fernández, director de Emprendimiento Universitario de la CVTT, indicó que a la fecha se tienen 22 incubadoras en el Sistema Innova-UNAM, y aún faltan más entidades que se sumen a esta iniciativa y, aunque la comunidad universitaria ya cuenta con conocimiento básico al respecto, “se necesita fortalecer la información sobre todas las actividades que la Universidad y el Sistema InnovaUNAM les puede proporcionar”.
      </p>

      <p>
        Destacó que este es un encuentro donde alumnos, académicos e incluso egresados pueden vincularse con el sistema InnovaUNAM. Este es el tercer año en donde las cinco FES se unen para desarrollar, durante toda la semana, actividades de diversa índole, un día por Facultad. La UNAM les proporciona recursos y asesoría para que puedan emprender y “les brinda conexiones con el ecosistema emprendedor en la zona metropolitana de la Ciudad de México”.
      </p>

      <p>
        Manuel Martínez Justo, coordinador de Enlace con Facultades y Escuelas de la Secretaría General, apuntó que las cinco multidisciplinarias reúnen a 47 % del alumnado de licenciatura de toda la UNAM. “Ese es el peso que tienen las facultades de Estudios Superiores y el trabajo en conjunto nos hace todavía mucho más fuertes”.
      </p>

      <p>
        A su vez, Felipe Cruz Díaz, coordinador de la Unidad de Investigación Multidisciplinaria de la FES Acatlán, invitó a los estudiantes a acercarse a su incubadora para que vean toda la gama de posibilidades que pueden tener y que, al concluir su carrera, tengan un horizonte posible de oportunidades en el que puedan dedicarse.
      </p>

      <p>
        Araceli Romo Cabrera, directora de la FES Aragón, dijo que la innovación es una de las mayores responsabilidades de la Universidad. La colaboración entre las FES da muestra de la riqueza de la multidisciplinariedad, pues sólo con la suma de saberes y la convergencia de diversas perspectivas “podemos generar soluciones sostenibles a las necesidades complejas del mundo actual”.
      </p>

      <p>
        Al dar lectura al mensaje del director de la FES Zaragoza, Vicente Jesús Hernández Abad, Rosalva Rangel Corona, responsable de la División de Vinculación Institucional de esa entidad académica, indicó que el Tercer InnovaFESt de Emprendimiento es resultado de esfuerzos colaborativos para fortalecer la innovación y el desarrollo tecnológico.
      </p>

      <p>
        Por último, Arlette López López, jefa del Departamento de Proyectos Especiales de la FES Iztacala, comentó que este encuentro es una idea que ha mejorado a lo largo de estos tres años y trasciende otras áreas universitarias, con el liderazgo de la Dirección de Emprendimiento Universitario y la coordinación del Sistema InnovaUNAM.
      </p>
    </article>
  </main>

  <footer class="site-footer" aria-hidden="true">

  </footer>
</body>
</html>