<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Gimnasia artística auriazul</title>
  <link rel="stylesheet" href="../css/a6.css" />
</head>
<body>
  <header class="site-header">
    <nav id="menu">
       <a href="../index.html" class="logo">
        <img src="../images/UNAM.png" alt="Logo UNAM">
      </a>
      <ul>
        <li><a href="../index.html">INICIO</a></li>
      <li><a href="academico.html">ACADÉMICO</a></li>
      <li><a href="cultura.html">CULTURA</a></li>
      <li><a href="deportes.html">DEPORTES</a></li>
      </ul>
    </nav>
    <h2 id="Inicio" class="headline"><em>Gimnasia artística auriazul logró 23 medallas en Campeonato Regional</em></h2>
  </header>

  <main class="container">
    <p class="intro"><i>Atletas de esta casa de estudios se hicieron de cinco preseas de oro, 12 de plata y seis de bronce en el evento celebrado en Tlaxcala</i></p>

    <figure class="hero">
      <a href="https://www.gaceta.unam.mx/13-anos-de-trayectoria-bioetica-programa-universitario-de-bioetica/" target="_blank" rel="noopener noreferrer">
        <img src="../images/deportes img/Gimnasia.jpg" alt="Gimnasia artística UNAM" class="hero-img" />
      </a>
    </figure>

    <article class="article">
      <p>
        La delegación universitaria de gimnasia artística obtuvo cinco medallas de oro, doce de plata y seis de bronce en el Campeonato Regional de Bases de Gimnasia Artística Femenil 2025 Región 4, realizado en Tlaxcala. En esta competencia se disputaron las pruebas de salto de caballo, barras asimétricas, viga de equilibrio y piso. La suma de estas conforma el all around (AA).
      </p>

      <p>
        Además de la UNAM, en el certamen compitieron representantes de los estados de la región 4 de la Federación Mexicana de Gimnasia: Ciudad de México, Estado de México, Hidalgo, Guerrero, Morelos, Oaxaca, Puebla, Querétaro y Tlaxcala, así como el Instituto Politécnico Nacional y el Instituto Mexicano del Seguro Social.
      </p>

      <p>
        En el Campeonato Regional participaron 41 gimnastas puma, en los niveles que comprenden del 3 al 6. Las cinco medallas de oro fueron obtenidas por Andrea Sofía López Álvarez (nivel 3), de la Preparatoria 2; y Giselle Itzel Maya Valentín (nivel 5), de la Facultad de Ingeniería, ambas en AA; Valeria Jiménez Pérez (nivel 6), de la Escuela Nacional de Trabajo Social, en barras asimétricas; Abigail López Rodríguez (nivel 6), de Medicina, en viga de equilibrio; y Ana Karla Medina Martínez (nivel 4), de la Preparatoria 5, en piso.
      </p>

      <p>
        “Estoy contenta. Traté de no presionarme demasiado, me repetía ‘no pasa nada’. Confío en mi cuerpo y en lo que sabe hacer. Antes de competir, hablé conmigo misma para fortalecer mi confianza y funcionó”, contó Itzel Maya, tras colgarse la de oro.
      </p>

      <p>
        Las gimnastas auriazules que conquistaron la plata fueron: Abigail López, en AA; Regina Jiménez Mejía (nivel 3), de la Asociación, y Eimy Lissette Sandoval Urrutia (nivel 5), de CCH Naucalpan, ambas en salto de caballo; Itzel Maya y Abigail López, en barras asimétricas; en viga de equilibrio, Ximena Pacheco (nivel 4), de Filosofía y Letras, Estefanía González Vázquez (nivel 5), de la Escuela Nacional De Lenguas Lingüística y Traducción, así como Itzel Maya y las ya mencionadas Andrea López Álvarez y Valeria Jiménez Pérez. En la prueba de piso lograron presea argenta Viani Toledo García (nivel 5), de Química, e Itzani Zoé Arreola Icelo (nivel 6), de la Preparatoria 5.
      </p>

      <p>
        En la cosecha de bronce, Itzel Maya y Metzi Mariana Rosas Pavano (nivel 6), de la Asociación, subieron al podio en salto de caballo; mientras que Viani Toledo y Sofía Garibay Díaz (nivel 6), de la Escuela Nacional de Ciencias de la Tierra, lo hicieron en barras asimétricas. Finalmente, la propia Toledo García se hizo de metal broncíneo en AA, junto con Valeria Jiménez.
      </p>

      <p>
        El equipo de gimnasia artística fue entrenado por Lorena Galán Escajadillo, Mariana Vázquez Beristain, Isabel Cristina Desentis Pichardo, Enrique Espinosa Medina, Edgar Barajas Patiño y Víctor Hugo Angoa González.
      </p>

      <p>
        “El próximo objetivo es prepararlas para que asciendan de nivel”, indicó el entrenador Enrique Espinosa.
      </p>
    </article>
  </main>

  <footer class="site-footer" aria-hidden="true">
    
  </footer>
</body>
</html>