<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cultura</title>
  <link rel="stylesheet" href="../css/cultura.css">
</head>
<body>

 
  <nav id="menu">
    <a href="../index.html" class="logo">
      <img src="../images/UNAM.png" alt="Logo UNAM">
    </a>
    <ul>
      <li><a href="../index.html">INICIO</a></li>
      <li><a href="academico.html">ACADÉMICO</a></li>
      <li><a href="cultura.html">CULTURA</a></li>
      <li><a href="deportes.html">DEPORTES</a></li>
    </ul>
  </nav>

  <h1>Cultura</h1>


  <p class="intro">
    La Universidad Nacional Autónoma de México (UNAM) es un referente cultural no solo del país, sino de toda América Latina. 
    A través de sus múltiples recintos, museos, teatros, festivales y actividades artísticas, la UNAM promueve la difusión del arte, 
    la historia y las tradiciones mexicanas. En esta sección se destacan las diversas expresiones culturales que enriquecen la vida universitaria 
    y fomentan el pensamiento crítico, la creatividad y la identidad nacional entre la comunidad universitaria y el público en general.
  </p>

 
  <div class="columns">
    <div class="column">
      <h2>Las ciudades deben adaptarse para recibir vehículos autónomos</h2>
      <p>Se ha estimado que el mejor empleo para dichas unidades es que realicen viajes públicos: Raúl Rojas González.</p>
      <a href="a7.html">
        <img src="../images/cultura/carros.jpg" alt="Vehículos autónomos">
      </a>
    </div>

    <div class="column">
      <h2>El Caribe mexicano podría perder su protección costera en este siglo</h2>
      <p>Lorenzo Álvarez Filip, académico del Instituto de Ciencias del Mar y Limnología, colaboró en una investigación publicada en la revista *Nature* sobre el tema.</p>
      <a href="a8.html">
        <img src="../images/cultura/caribe.jpg" alt="Caribe mexicano">
      </a>
    </div>
  </div>

</body>
</html>