<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deportes</title>
  <link rel="stylesheet" href="../css/deportes.css">
</head>
<body>

  <nav id="menu">
    <a href="../index.html" class="logo">
      <img src="../images/UNAM.png" alt="Logo UNAM">
    </a>
    <ul>
      <li><a href="../index.html">INICIO</a></li>
      <li><a href="academico.html">ACADÉMICO</a></li>
      <li><a href="cultura.html">CULTURA</a></li>
      <li><a href="deportes.html">DEPORTES</a></li>
    </ul>
  </nav>

  
  <h1>Deportes</h1>
  <p class="intro">
    La sección de Deportes destaca las competencias, torneos y logros de los equipos representativos de la UNAM, 
    promoviendo la actividad física y el espíritu deportivo entre los estudiantes.
  </p>

  <div class="columns">
    <div class="column">
      <h2>Porras y animación auriazul se hace de la parte más alta del podio</h2>
      <p>La escuadra conformada por 15 alumnas y alumnos de esta casa de estudios se llevó el oro en el certamen celebrado en Nuevo León.</p>
      <a href="a4.html">
        <img src="../images/deportes img/Mujeres.jpg" alt="Porras UNAM">
      </a>
    </div>

    <div class="column">
      <h2>Pumas sub-19 sigue en el top five de la tabla</h2>
      <p>En el Apertura 2025 ha marcado 21 tantos en 12 partidos.</p>
      <a href="a5.html">
        <img src="../images/deportes img/sub-19.jpg" alt="Pumas Sub-19">
      </a>
    </div>

    <div class="column">
      <h2>Gimnasia artística auriazul logró 23 medallas en Campeonato Regional</h2>
      <p>Atletas de esta casa de estudios se hicieron de cinco preseas de oro, 12 de plata y seis de bronce en el evento celebrado en Tlaxcala.</p>
      <a href="a6.html">
        <img src="../images/deportes img/Gimnasia.jpg" alt="Gimnasia UNAM">
      </a>
    </div>
  </div>

</body>
</html>